<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#00BCD4" />

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->

    <style>
        /*ESTILO PARA AGREGAR BANNER*/
        /*
       	#root:before {
            background-image: url("images/banner.jpg");
            background-position: top right;
            background-repeat: no-repeat;
            background-size: cover;
            content: '';
            display: block;
            height: 15em;
            width: 100%;
        }
        */

        #background_wrap {
            z-index: -1;
            position: fixed;
            top: 0;
            left: 0;
            height: 110%;
            width: 100%;
            background-size: cover;
            background-image: url('images/city_4.png');
            background-repeat: no-repeat;
            background-attachment: scroll;
        }

        body {
            margin: 0px;
            color: #134E48;
        }

        .with-margin {
            margin: 8px;
        }

        .submenu-svg {
            color: white !important;
            fill: white !important;
        }

        .trans-card {
            background-color: rgba(255,255,255,0.7);
        }

        .index {
            /*mix-blend-mode: difference;*/
        }
    </style>
</head>

<body>
    <div id="background_wrap"></div>
    <div class="page-content" id="root"></div>


    <script src="javascripts/common.bundle.js"></script>
    <script src="javascripts/adminbackoffice.bundle.js"></script>
</body>

</html>