<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <div class="page-content" id="root"></div>
  <% if (locals.message) { %>
    <div id="message" data-value="<%= locals.message.string %>"/>
  <% 
    removeMessages() 
  } %>

  <script src="javascripts/common.bundle.js"></script>
  <script src="javascripts/login.bundle.js"></script>
</body>

</html>